.buttonMateria {
  color: black;
  width: 100%;
  height: 100%;
  background-color: rgb(232, 237, 223);
  border: 0px;
}
.buttonMateria:hover {
  background-color: rgb(245, 203, 92);
}

.buttonMateria:hover .subjet-icon {
  transform: scale(1.15);
  color: white;
}

.contenedor-materia {
  border: 2px rgba(36, 36, 35, 0.541) solid !important;
}

.cardMateria {
  width: 60%;
  height: 120px;
}

.subjet-icon {
  opacity: 25%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0px;
  border: 0px;
}

.subjet-icon:hover {
  color: white;
}

.card-datos-alumno {
  background-color: rgb(232, 237, 223);
  border: 2px rgba(36, 36, 35, 0.541) solid !important;
}

.perfil-img {
  width: 230px;
  height: 100%;
  border: 2px rgba(36, 36, 35, 0.541) solid !important;
}
