.logoCampus {
  width: 30%;
  height: 30%;
  border-radius: 150px;
  object-fit: cover;
  justify-content: center;
  align-self: center;
  /* border: solid 1px rgb(180, 180, 180); */
}
.info {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}
.tarjeta {
  border: transparent;
  background-color: rgb(36, 36, 35);
}

.btn-funcion {
  background-color: rgb(245, 203, 92);
  color: black;
  border: 1px rgba(41, 41, 41, 0.438) solid;
}

.btn-funcion:hover {
  background-color: rgb(251, 197, 48);
}

.btn-funcion .fa:hover {
  color: black;
  opacity: 100%;
}
