.botonCrear {
  display: flex;
  justify-content: flex-end;
}

.nombre-nacimiento {
  width: 100%;
}

.border-img {
  border: 2px rgba(36, 36, 35, 0.342) solid !important;
  border-radius: 50%;
  width: 290px;
  height: 250px;
}

.input-style {
  width: 190px;
}

.imagenDeAlumno {
  height: 300px;
  width: 300px;
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  background-size: 100% auto;
  border: 1px solid rgb(245, 203, 92);
}

.btn {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
